@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.swiper-pagination,
.swiper-button-next,
.swiper-button-prev{
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  width:  auto !important;
  position: unset !important;
  margin: 0px !important;
}

.swiper-button-next::after{
  content: '' !important;

}
.swiper-button-prev::after{
  content:  '' !important;
}


.swiper-pagination-bullet {
  background-color: white !important; 
  border: 1px solid blue !important; 
  width: 18px !important; 
  height: 18px !important; 
  border-radius: 50%;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background-color: #333333; 
}

.swiper-pagination-bullet::after{
  content: '';
  position: absolute !important;
  width: 10px;
  height: 10px;
  background-color: blue;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
  border-radius: 50%;
}
