@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination,
.swiper-button-next,
.swiper-button-prev {
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  width: auto !important;
  position: unset !important;
  margin: 0px !important;
}

.swiper-button-next::after {
  content: "" !important;
}
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
  border: 1px solid blue !important;
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background-color: #333333;
}

.swiper-pagination-bullet::after {
  content: "";
  position: absolute !important;
  width: 10px;
  height: 10px;
  background-color: blue;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
  border-radius: 50%;
}



/* navbar style */

.btn {
  position: relative;
  background-color: transparent;
  transition-duration: 300ms;
  transition-timing-function: ease;
  overflow: hidden;
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-bottom: 3px solid white;
  margin-top: 1px;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transform: translate(-100px);
  z-index: -1px;
}
.btn:hover::after {
  transform: translate(0);
}